/* ESTILO TOPO DO SITE */
.topo-do-site {
  padding: 13vh 4%;
  margin: 0;
  height: 100vh;
  box-sizing: border-box;
}

.parent {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0;
  grid-row-gap: 0;
  height: 100%;
  width: 100%;
}

.topo-do-site h1 {
  color: var(--black-color);
  font-family: 'Roboto Mono', monospace;
  font-weight: 900;
  font-size: 12vh;
  line-height: 100%;
}

.topo-do-site .txt-topo-site h1 span {
  color: var(--red-color);
}

.topo-do-site .txt-topo-site h4 {
  padding: 4vh 0;
  font-size: 3.89vh;
  color: var(--red-color);
}

.topo-do-site .txt-topo-site p {
  color: var(--black-color);
  font-weight: 400;
  text-align: justify;
  font-size: 2.5vh;
}

.topo-do-site .parent {
  align-items: center;
  gap: 8vh;
}

.card {
  max-width: 600px;
  width: auto;
  background-color: #beb7a4;
  margin: 20px auto 0 auto;
  overflow: hidden;
  box-shadow: 0 5px 6px rgba(0, 0, 0, 0.4);
  border-radius: 1vh;
}

.card-image {
  margin-top: 3vh;
  display: grid;
  justify-content: center;
  align-items: center;
  height: 400px;
  overflow: hidden;
}

.card-image img {
  width: auto;
  height: auto;
  object-fit: cover;
  filter: grayscale(100%);
}

.card-content {
  padding: 10px;
  text-align: left;
}

.card-content h2 {
  margin: 0;
  font-weight: 800;
  font-size: 3vh;
}

.card-content p {
  font-weight: 400;
  margin: 1vh 0 2.5vh;
  font-size: 2.39vh;
  color: #000000;
}
