/* ESTILO TOPO DO SITE */

.topo-do-site {
  padding: 5vh 4%;
  margin-top: 15vh;
  height: 100vh;
}

.parent {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0;
  grid-row-gap: 0;
  height: 100%;
  width: 100%;
}

.topo-do-site h1 {
  color: var(--black-color);
  font-family: 'Roboto Mono', monospace;
  font-weight: 900;
  font-size: 13vh;
  line-height: 12vh;
}

.topo-do-site .txt-topo-site h1 span {
  color: var(--red-color);
}

.topo-do-site .txt-topo-site h4 {
  padding: 1vh;
  font-size: 4vh;
  color: var(--red-color);
}

.topo-do-site .txt-topo-site p {
  color: var(--black-color);
  margin: 4vh 0;
  font-size: 2.8vh;
  text-align: justify;
}

.topo-do-site .parent {
  align-items: center;
  gap: 5vh;
}

.card {
  max-width: 100vh;
  width: auto;
  background-color: #beb7a4;
  margin: auto;
  overflow: hidden;
  box-shadow: 0 0.5vh 1vh rgba(0, 0, 0, 0.2);
  border-radius: 0.5vh;
}

.card-image {
  margin-top: 2vh;
  display: grid;
  justify-content: center;
  align-items: center;
  height: 40vh;
  overflow: hidden;
}

.card-image img {
  width: auto;
  height: auto;
  object-fit: cover;
  filter: grayscale(100%);
}

.card-content {
  padding: 2vh;
  text-align: left;
}

.card-content h2 {
  margin: 0;
  font-weight: 800;
  font-size: 3vh;
  letter-spacing: 0.2vh;
}

.card-content p {
  margin: 1vh 0 2vh;
  font-size: 2vh;
  color: #000000;
}
