.main-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  padding: 15vh;
  padding-top: 10vh;
  height: 100%;
  width: 100%;
}

.secao-texto {
  grid-area: 1 / 2 / 2 / 3;
  padding: 2vh;
  display: flex;
  flex-direction: column;
  gap: 3.5vh;
}

.secao-texto h1 {
  font-size: 13vh;
  font-weight: 900;
}

.secao-texto h3 {
  font-size: 4vh;
  font-weight: normal;
  color: #ff3f00;
}

.secao-texto p {
  font-size: 2.8vh;
  font-weight: 100;
  margin-top: auto;
}

.card {
  grid-area: 1 / 1 / 2 / 2;
  margin: 2vh auto 0 auto;
  width: 70%;
  height: 85vh;
  overflow: hidden;
  margin-left: 10vh;
}

.card-header {
  background-color: #ff3d00;
  height: 80%;
}

.card-header img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-body {
  background-color: var(--gray-color);
  padding: 2vh;
  text-align: left;
}

.card-body h2 {
  font-size: 2.5vh;
  margin: 0;
  letter-spacing: 2px;
}

.card-body p {
  font-size: 2vh;
  margin: 8px 0 16px;
  color: #333;
}

.card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-footer .dots {
  display: flex;
  gap: 4px;
}

.card-footer .dots span {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: black;
  opacity: 0.5;
  display: inline-block;
}

.card-footer .dots span.active {
  opacity: 1;
}

.card-footer button {
  background: none;
  border: none;
  font-size: 23px;
  cursor: pointer;
  text-shadow: 0 0 1px #000000;
}

.dots:hover {
  cursor: pointer;
}

.card-footer button:hover {
  color: #fffffc;
}

@media screen and (max-width: 1500px) {
  .secao-texto h1 {
    font-size: 7vh;
  }

  .secao-texto h3 {
    font-size: 3vh;
    font-weight: normal;
    color: #ff3f00;
  }

  .secao-texto p {
    font-size: 2.5vh;
    font-weight: 100;
    margin-top: 1vh;
  }

  .card {
    width: 80%;
    height: 85vh;
  }
}
